# ----------------------------------------------------------------------
# Django / Python
# ----------------------------------------------------------------------
# Файлы, сгенерированные Python
__pycache__/
*.py[cod]
*$py.class
*.log
.mypy_cache/
.pytest_cache/
.vscode/

# Виртуальное окружение
venv/
env/
/bin/
/include/
/lib/
/lib64/
/pyvenv.cfg
pip-log.txt
# ----------------------------------------------------------------------
# Секретные / Локальные данные
# ----------------------------------------------------------------------
# Локальная база данных SQLite
db.sqlite3

# API-ключи, секретные настройки и переменные окружения
*.env
.env.*
/Lms_project/settings_local.py
# Если вы используете секреты прямо в settings.py, его нельзя пушить.
# Лучше вынести ключ в переменную окружения или отдельный файл.

# Файлы, загруженные пользователями
/media/
# ----------------------------------------------------------------------
# IDE и OS
# ----------------------------------------------------------------------
# Mac OS
.DS_Store

# Windows
Thumbs.db

# JetBrains IDEs (PyCharm, WebStorm и т.д.)
.idea/

# VS Code
.vscode/